/*Again, ignore*/
/* CSS */

body{
  background-color: antiquewhite;
  color: rgb(0, 0, 0);

  margin: 0;
  height: 100vh;
font-family: Comic Sans Ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.moneybtn{
   outline: none; 
   border: none; 
   padding: 0; 
   background: none; 
   cursor: pointer;
   transition: transform 0.2s ease;
}


.moneybtn:hover{
    transform: scale(1.1);
}

.moneybtn:active{
    transform: scale(0.95);
}